{% extends "layout.html" %}
{% block body%}
{% load static %}
<div class="landing_page">
  <!-- START TEAM -->
  <section id="team">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-sm-12 pull-right">
                <div class="team-section-text">
                  <h2 class="section-title">Team</h2>
                    <div class="section-count">
                        <span>105</span>
                    </div>
                    <!-- END section-count-->
                    <div class="section-text">
                        
                        <p>
                            SDG Innovation Team 105 is a team of dynamic Developers and Data Scientists who are passionate
                            about solving day-to-day challenges using cutting-edge Technologies. One of which is the Wastecoin Project
                            which was developed to reward proper and efficient disposal of non-bioodegradable waste (NBW)
                            right from the source to the recyler. it is an app that leverage on a decentralized coin mining system where every waste miner
                            is rewarded accordingly.
                        </p>
                    </div>
                    <!-- END section-text-->
                </div>
                <!-- END team-section-text-->
            </div>
            <!-- END col-md-5 col-sm-12 pull-right-->
            <div class="col-md-7 col-sm-12">
                <div class="row">
                    <div class="col-md-3 col-sm-4">
                        <div class="team-list">
                            <ul>
                                <li class="active wow zoomIn" data-wow-duration="1s" data-wow-delay=".1s">
                                    <a href="#team-1" data-team="team-1">
                                        <figure>
                                            <img src="http://www.webcoderskull.com/img/team4.png" alt="Aminu Israel">
                                        </figure>
                                    </a>
                                </li>
                                <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".3s">
                                    <a href="#team-2" data-team="team-2">
                                        <figure>
                                            <img src="http://www.webcoderskull.com/img/team2.png" alt="Olarewaju Temitope">
                                        </figure>
                                    </a>
                                </li>
                                <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                                    <a href="#team-3" data-team="team-3">
                                        <figure>
                                            <img src="http://www.webcoderskull.com/img/team3.png" alt="Chidozie Managwu">
                                        </figure>
                                    </a>
                                </li>
                                <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".7s">
                                    <a href="#team-4" data-team="team-4">
                                        <figure>
                                            <img src="http://www.webcoderskull.com/img/team1.png" alt="Mohammed Bayero">
                                        </figure>
                                    </a>
                                </li>
                                <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".7s">
                                  <a href="#team-5" data-team="team-5">
                                      <figure>
                                          <img src="http://www.webcoderskull.com/img/team4.png" alt="Mohammed Zubairu">
                                      </figure>
                                  </a>
                              </li>
                              <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".7s">
                                <a href="#team-6" data-team="team-6">
                                    <figure>
                                        <img src="http://www.webcoderskull.com/img/team2.png" alt="Olagunju Daniel">
                                    </figure>
                                </a>
                            </li>
                            <li class="wow zoomIn" data-wow-duration="1s" data-wow-delay=".7s">
                                <a href="#team-7" data-team="team-7">
                                    <figure>
                                        <img src="http://www.webcoderskull.com/img/team3.png" alt="Stephen Kamau">
                                    </figure>
                                </a>
                            </li>
                            </ul>
                        </div>
                        <!-- END team-list-->
                    </div>
                    <!-- END col-sm-4-->
                    <div class="col-md-9 col-sm-8">

                        <div id="team-1" class="team-single active">
                            <div class="team-img">
                                <img src="http://www.webcoderskull.com/img/team4.png" alt="">
                                <div class="team-social">
                                    <ul>
                                      <li><a href="http://www.github.com/AminuIsrael/" target="_blank"><i class="fa fa-github"></i></a></li>
                                        <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                        <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
                                        <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <!-- END team-social-->
                            </div>
                            <!-- END team-img-->
                            <div class="team-info text-center">
                                <h4>Aminu Israel</h4>
                                <p>Developer</p>
                            </div>
                            <!-- END team-info-->
                        </div>
                        <!-- END team-single-->


                        <div id="team-2" class="team-single">
                            <div class="team-img">
                                <img src="http://www.webcoderskull.com/img/team2.png" alt="">
                                <div class="team-social">
                                    <ul>
                                      <li><a href="http://www.github.com/albert85/" target="_blank"><i class="fa fa-github"></i></a></li>
                                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                      <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
                                      <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <!-- END team-social-->
                            </div>
                            <!-- END team-img-->
                            <div class="team-info text-center">
                                <h4>Olarewaju Temitope</h4>
                                <p>Developer</p>
                            </div>
                            <!-- END team-info-->
                        </div>
                        <!-- END team-single-->


                        <div id="team-3" class="team-single">
                            <div class="team-img">
                                <img src="http://www.webcoderskull.com/img/team3.png" alt="">
                                <div class="team-social">
                                    <ul>
                                      <li><a href="http://www.github.com/chidoziemanagwu/" target="_blank"><i class="fa fa-github"></i></a></li>
                                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                      <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
                                      <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <!-- END team-social-->
                            </div>
                            <!-- END team-img-->
                            <div class="team-info text-center">
                                <h4>Chidozie Managwu</h4>
                                <p>Developer</p>
                            </div>
                            <!-- END team-info-->
                        </div>
                        <!-- END team-single-->


                        <div id="team-4" class="team-single">
                            <div class="team-img">
                                <img src="http://www.webcoderskull.com/img/team1.png" alt="">
                                <div class="team-social">
                                    <ul>
                                      <li><a href="http://www.github.com/byruzyayandy1/" target="_blank"><i class="fa fa-github"></i></a></li>
                                      <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                      <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
                                      <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                    </ul>
                                </div>
                                <!-- END team-social-->
                            </div>
                            <!-- END team-img-->
                            <div class="team-info text-center">
                                <h4>Mohammed Bayero</h4>
                                <p>Data Scientist</p>
                            </div>
                            <!-- END team-info-->
                        </div>
                        <!-- END team-single-->

                        <div id="team-5" class="team-single">
                          <div class="team-img">
                              <img src="http://www.webcoderskull.com/img/team4.png" alt="">
                              <div class="team-social">
                                  <ul>
                                    <li><a href="http://www.github.com/moxeey/" target="_blank"><i class="fa fa-github"></i></a></li>
                                    <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                    <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
                                    <li><a href=""><i class="fa fa-linkedin"></i></a></li>
                                  </ul>
                              </div>
                              <!-- END team-social-->
                          </div>
                          <!-- END team-img-->
                          <div class="team-info text-center">
                              <h4>Mohammed Zubairu</h4>
                              <p>Mobile Developer</p>
                          </div>
                          <!-- END team-info-->
                      </div>
                      <!-- END team-single-->

                      <div id="team-6" class="team-single">
                        <div class="team-img">
                            <img src="http://www.webcoderskull.com/img/team2.png" alt="">
                            <div class="team-social">
                                <ul>
                                  <li><a href="http://www.github.com/todak2000/" target="_blank"><i class="fa fa-github"></i></a></li>
                                  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                  <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
                                  <li><a href="http://www.linkedin.com/in/daniel-olagunju-79b7b9b5/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <!-- END team-social-->
                        </div>
                        <!-- END team-img-->
                        <div class="team-info text-center">
                            <h4>Olagunju Daniel</h4>
                            <p>Technical Team Lead</p>
                        </div>
                        <!-- END team-info-->
                    </div>
                    <!-- END team-single-->

                    <div id="team-7" class="team-single">
                        <div class="team-img">
                            <img src="http://www.webcoderskull.com/img/team3.png" alt="">
                            <div class="team-social">
                                <ul>
                                  <li><a href="http://www.github.com/stephen-kamau/" target="_blank"><i class="fa fa-github"></i></a></li>
                                  <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                  <li><a href=""><i class="fa fa-whatsapp"></i></a></li>
                                  <li><a href="" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                                </ul>
                            </div>
                            <!-- END team-social-->
                        </div>
                        <!-- END team-img-->
                        <div class="team-info text-center">
                            <h4>Stephen Kamau</h4>
                            <p>Mentor</p>
                        </div>
                        <!-- END team-info-->
                    </div>
                    <!-- END team-single-->
                    </div>
                    <!-- END col-sm-8-->
                </div>
                <!-- END row-->
            </div>
            <!-- END col-md-7 col-sm-12 -->
        </div>
        <!-- END row-->
    </div>
    <!-- END container-->
</section>
<!-- END team-->
<!-- END TEAM -->
 </div>
{% endblock %}
